In [33]:
import pandas as pd

In [34]:
a = pd.read_parquet("transacciones.parquet")

In [35]:
final_date = a['purchase_date'].max()

In [36]:
one_week = pd.Timedelta(weeks=1)
final_date_day_week = final_date - one_week
new_transactions = a[a['purchase_date'] > final_date_day_week]
new_transactions.loc[:, 'purchase_date'] = new_transactions['purchase_date'] + one_week

In [37]:
final_date

Timestamp('2024-12-31 00:00:00')

In [39]:
final_date_new = new_transactions['purchase_date'].max()

In [40]:
final_date_new

Timestamp('2025-01-07 00:00:00')

In [ ]:
new_transactions.to_parquet("new_transactions.parquet", index=False)

In [41]:
new_transactions

         customer_id  product_id  order_id purchase_date     items
2644641        65058       56714   1229966    2025-01-03  2.333333
2644720       154434       39186   1236112    2025-01-04  1.000000
2644721       154998       35732   1224153    2025-01-02 -0.333333
2644724       161667       56714   1231019    2025-01-03 -1.000000
2644725       167571       16358   1236229    2025-01-04 -0.333333
...              ...         ...       ...           ...       ...
6153398       154167       53046   1248052    2025-01-07  1.666667
6155382       154167       50962   1248052    2025-01-07 -1.000000
7533122       235191       57414   1245727    2025-01-06  1.666667
7536086       203310       63510   1248171    2025-01-07  7.000000
7537911       235191       11262   1245727    2025-01-06  4.333333

[7738 rows x 5 columns]